.save-button {
    background-color: #877eed;
    color: #fff;
    padding: 10px;
    border-radius: 24px;
    border: none;
    width: 125px;
    margin: 0px auto;
    line-height: 150%;
    font-weight: 600;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
